@page "/"
@inherits IndexBase


<AuthorizeView Roles="admin" Context="authContext">
    <Authorized>
        @if (NyCustomer != null)
        {
            <div class="card">
                <div class="card-body">
                    <h3>Admin: @NyCustomer.Givenname</h3>
                    <p>Du som administrator kan se till att kunder kan skapa nya bank konton
                     Hantera lån & godkänna transaktioner mellan kunder
                    Navigera till Kundadministrering för att hantera kunder</p>
                </div>
            </div>
           
        }

    </Authorized>

</AuthorizeView>


<AuthorizeView Roles="customer" Context="authContext">
    <Authorized>
        @if (NyCustomer != null) 
        {
     
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Kund @NyCustomer.Givenname @NyCustomer.Surname</h5>
                <h6 class="card-subtitle mb-2 text-muted">Personlig Information</h6>
                <a>@NyCustomer.Emailaddress</a>
                <br />
                <a>@NyCustomer.Streetaddress</a>
                <div>
                    <a href="#" class="card-link">Bank Konto</a>

                </div>
                
            </div>
        </div>
    
        
        }
    </Authorized>

</AuthorizeView>



<AuthorizeView Roles="pending" Context="authContext">
    <Authorized>
        <pre>Inloggad men inte som kund eller admin</pre>


        @if (!VisaInteEditForm)
        {
<p class="text-left">Du har registrerat dig för att bli kund i banken</p>
                    <br />
                                        <p class="text-left">För att en administratör ska kunna godkänna din förfrågan var god fyll i dina uppgifter!</p>


                                                            <EditForm Model="@NyCustomer" OnValidSubmit="HandleValidSubmit">

                                                                <h3>Din uppgifter</h3>
                                                                <hr />
                                                                <div class="form-group row">
                                                                    <label for="firstName" class="col-sm-2 col-form-label">
                                                                        Förnamn
                                                                    </label>
                                                                    <div class="col-sm-10">
                                                                        <InputText id="firstName" class="form-control" placeholder="fyll i förnamn"
                                                                                   @bind-Value="@NyCustomer.Givenname" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="lastName" class="col-sm-2 col-form-label">
                                                                        Efternamn
                                                                    </label>
                                                                    <div class="col-sm-10">
                                                                        <InputText id="lastName" class="form-control" placeholder="fyll i efternamn"
                                                                                   @bind-Value="NyCustomer.Surname" />
                                                                    </div>
                                                                </div>
                                                                <button type="submit" class="btn btn-primary">Spara</button>


                                                            </EditForm>}

        @if (VisaInteEditForm)
        {
<p class="text-left">Tack :-)  @NyCustomer.Givenname @NyCustomer.Surname. Ny ska bara administratören godkänna dig!</p>}


    </Authorized>


    <NotAuthorized>

        @if (!IsAuthenticated)
        {
        <pre>Inte inloggad</pre>
        <div class="row">
            <div class="text-nowrap" style="width: 8rem;">
                För att bli kund i banken registrera dig...
            </div>
        </div>
        <br />
        <div class="row">
            <div class="text-nowrap" style="width: 8rem;">
                Är du redan kund så är det bara att logga in.
            </div>
        </div>
        }
    </NotAuthorized>
</AuthorizeView>