@page "/"
@inherits IndexBase


<AuthorizeView Roles="admin" Context="authContext">
    <Authorized>
        @if (NyCustomer != null)
        {
            <div class="card">
                <div class="card-body">
                    <h3>Admin: @NyCustomer.Givenname</h3>
                    <p>Du som administrator kan se till att kunder kan skapa nya bank konton
                     Hantera lån & godkänna transaktioner mellan kunder
                    Navigera till Kundadministrering för att hantera kunder</p>
                </div>
            </div>
           
        }

    </Authorized>

</AuthorizeView>


<AuthorizeView Roles="customer" Context="authContext">
    <Authorized>
        @if (NyCustomer != null) 
        {
     
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Kund @NyCustomer.Givenname @NyCustomer.Surname</h5>
                <h6 class="card-subtitle mb-2 text-muted">Personlig Information</h6>
                <a>@NyCustomer.Emailaddress</a>
                <br />
                <a>@NyCustomer.Streetaddress</a>
                <div>
                    <a href="" class="card-link">Konto Översikt</a>
                    <btn></btn>
                </div>
                
            </div>
        </div>
    
        
        }
    </Authorized>

</AuthorizeView>



<AuthorizeView Roles="pending" Context="authContext">
    <Authorized>
        


        @if (!VisaInteEditForm)
        {
<h1 class="text-left">Du har registrerat dig för att bli kund i banken.
        
        </h1>
                    <br />
                                        <p class="text-left">För att en administratör ska kunna godkänna din förfrågan var god fyll i dina uppgifter!</p>


                                        <EditForm Model="@NyCustomer" OnValidSubmit="HandleValidSubmit">

                                            <h3>Dina uppgifter</h3>
                                            <hr />
                                            <div class="form-group row">
                                                <label for="firstName" class="col-sm-2 col-form-label">
                                                    Förnamn
                                                </label>
                                                <div class="col-sm-10">
                                                    <InputText id="firstName" class="form-control" placeholder="fyll i förnamn"
                                                               @bind-Value="@NyCustomer.Givenname" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="lastName" class="col-sm-2 col-form-label">
                                                    Efternamn
                                                </label>
                                                <div class="col-sm-10">
                                                    <InputText id="lastName" class="form-control" placeholder="fyll i efternamn"
                                                               @bind-Value="NyCustomer.Surname" />
                                                </div>

                                            </div>
                                            <div class="form-group row">
                                                <label for="lastName" class="col-sm-2 col-form-label">
                                                    Land
                                                </label>
                                                <div class="col-sm-10">
                                                    <InputText id="lastName" class="form-control" placeholder="fyll i land"
                                                               @bind-Value="NyCustomer.Country" />
                                                </div>

                                            </div>
                                            <div class="form-group row">
                                                <label for="lastName" class="col-sm-2 col-form-label">
                                                    Efternamn
                                                </label>
                                                <div class="col-sm-10">
                                                    <InputText id="lastName" class="form-control" placeholder="fyll i stad"
                                                               @bind-Value="NyCustomer.City" />
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Spara</button>


                                        </EditForm>}

        @if (VisaInteEditForm)
        {
<h2 class="text-left">Tack så mycket  @NyCustomer.Givenname @NyCustomer.Surname. Ny ska bara administratören godkänna dig!</h2>}


    </Authorized>


    <NotAuthorized>

        @if (!IsAuthenticated)
        {
        <div class="jumbotron">
            <h1 class="display-4">Atlas Bank</h1>
            <p class="lead">
                För att bli kund i banken registrera dig, navigera till register
                sen kommer du bli ombedd att fylla i lite uppgifter innan en Admin kan
                Godkänna dig.
            </p>
            <hr class="my-4">
            <p>Är du redan kund hos oss är det bara att logga in</p>
            
        </div>
       
        }
    </NotAuthorized>
</AuthorizeView>